* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to right top, #000000, #171516, #262225, #343036, #414049, #474853, #4c505e, #505968, #4f5a6d, #4f5c72, #4e5d77, #4e5e7c);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: white;
    pointer-events: 0;
}

.navigation a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0px 10px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a:active {
    background-color: white;
    color: black;
}

.name {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 2em;
    color: white;
}

.sentence {
    text-align: center;
}

#container {
    background-image: linear-gradient(to right top, #000000, #171516, #262225, #343036, #414049, #474853, #4c505e, #505968, #4f5a6d, #4f5c72, #4e5d77, #4e5e7c);
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    color: white;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    font-weight: 400;
}

.about-me-msg {
    border: #000000;
    border-bottom-style: solid;
    border-color: white;
}

.home-prg {
    margin-top: 45px;
    color: white;
}