body {
    margin: 0;
}

h1 {
    margin-left: 50px;
    display: inline-block;
}

.topnav {
    display: inline-block;
    margin-left: 900px;
    font-size: 20px;
}

h2 {
    margin-left: 300px;
    font-family: sans-serif;
    font-size: 30px;
    padding: 30px;
}

.paragraph {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.container {
    border-style: hidden;
    height: 600px;
    width: 100%;
    background-color: blanchedalmond;
}

.media-link {
    width: 60px;
}

footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

h3 {
    font-family: 'satisfy' , cursive;
    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 3em;
}

